.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
}
.header__icon {
  color: #737373;
}
.drawer__element {
  display: flex;
  align-items: center;
  justify-content: left;
  color: grey;
  padding: 1rem;
  font-size: large;
}
.drawer__element > h3 {
  margin-left: 1rem;
}
